/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */




.summer-grass {
  float:left;
  width: 39em;
  height: 36.5em;
}

.archive {
  float: right;
  width: 18em;
  height: 36.5em;
  position: relative;
}


.grid {
  width: 18em;
  display: inline-block;
  position: relative;
  top: 1em;
}

.skater {
left: 2.5em;
}

.bluestar {
left: 5.5em;
}

.info_section {
  display:inline-block;
  padding:6em;
  position: relative;
  left: 3em;
}

